{%extends 'layout.html'%}
    {%block content%}


    <div id="info">
        <div class="jumbotron">
            <h1><strong>BIENVENIDO</strong></h1>
            <p id="text">Con esta pagina web seras capaz de generar imagenes de distintos tipos de grafos, encontrar el camino mas corto entre dos vertices y ademas conocer la categoria a la cual pertenece.</p>
            <p id="boton"><a href="#info-1" class="btn btn-primary pulse animated infinite" role="button">Crear</a></p>
        </div>
    </div>



    <div id="info2">
        <div class="jumbotron">
            <h1><strong>COMO USAR</strong></h1>
            <p id="text-info">Para agregar un grafo debes indicar si es dirigido o no, sin importar el orden de ingreso, uno puede asociar el nodo [1] con [2] separandolo con una "," y a su vez separando las distintas conexiones con ";"<br>
                ejemplo para [1] conectado a [2], [2] conectado a [3] y [4] conectado a si mismo <br>
                <strong>1,2;2,3;4,4</strong>
        </div>
    </div>



        <div id="info-1">
            <div class="jumbotron mb-8">
        
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                                    <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Formulario v0.1 </legend>
        
                                    <div class="form-group">
                                        <div class="form-check">
                                            {{ form.check(value='n') }}
                                            <label class="form-check-label">¿Es un grafo dirigido?</label>
                                          </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        {{form.edge.label(class="form-control-label")}}
            
                                        <!-- Validador inicio -->
            
                                        {%if form.edge.errors %}
                                        {{form.edge(class="form-control form-control-lg is-invalid")}}
            
                                        <div class="invalid-feedback">
                                            {% for errors in form.edge.errors %}
                                            <span>{{error}}</span>
                                            {%endfor%}
                                        {% else %}
                                        {{form.edge(class="form-control form-control-lg")}}                  
                                        {% endif %}
                                        </div>
        
                                    <!-- validador termino -->
                                    </fieldset>
        
                                    <div class="form-group">
                                    {{ form.submit(class="btn btn-outline-info") }}
                                    </div>
                    </form>
        
                </div>
            </div>      


{%endblock content%}